In [283]:
# import python libraries

import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt # visualizing data
%matplotlib inline
import seaborn as sns
from reportlab.lib.pagesizes import letter
from reportlab.platypus import SimpleDocTemplate, Image, PageBreak, Paragraph, Spacer
from reportlab.lib.styles import ParagraphStyle
from reportlab.lib.units import inch

In [284]:
# import csv file
df = pd.read_csv('Sales_Data.csv', encoding= 'unicode_escape')

In [285]:
df.shape

(11251, 15)

In [286]:
df.head()

,User_ID,Cust_name,Product_ID,Gender,Age Group,Age,Marital_Status,State,Zone,Occupation,Product_Category,Orders,Amount,Status,unnamed1
0,1002903,Sanskriti,P00125942,F,26-35,28,0,Maharashtra,Western,Healthcare,Auto,1,23952.0,NaN,NaN
1,1000732,Kartik,P00110942,F,26-35,35,1,Andhra Pradesh,Southern,Govt,Auto,3,23934.0,NaN,NaN
2,1001990,Bindu,P00118542,F,26-35,35,1,Uttar Pradesh,Central,Automobile,Auto,3,23924.0,NaN,NaN
3,1001425,Sudevi,P00237842,M,0-17,16,0,Karnataka,Southern,Construction,Auto,2,23912.0,NaN,NaN
4,1000588,Joni,P00057942,M,26-35,28,1,Gujarat,Western,Food Processing,Auto,2,23877.0,NaN,NaN

In [287]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11251 entries, 0 to 11250
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   User_ID           11251 non-null  int64
 1   Cust_name         11251 non-null  object
 2   Product_ID        11251 non-null  object
 3   Gender            11251 non-null  object
 4   Age Group         11251 non-null  object
 5   Age               11251 non-null  int64
 6   Marital_Status    11251 non-null  int64
 7   State             11251 non-null  object
 8   Zone              11251 non-null  object
 9   Occupation        11251 non-null  object
 10  Product_Category  11251 non-null  object
 11  Orders            11251 non-null  int64
 12  Amount            11239 non-null  float64
 13  Status            0 non-null      float64
 14  unnamed1          0 non-null      float64
dtypes: float64(3), int64(4), object(8)
memory usage: 1.3+ MB

In [288]:
#drop unrelated/blank columns
df.drop(['Status', 'unnamed1'], axis=1, inplace=True)

In [289]:
#check for null values
pd.isnull(df).sum()

User_ID              0
Cust_name            0
Product_ID           0
Gender               0
Age Group            0
Age                  0
Marital_Status       0
State                0
Zone                 0
Occupation           0
Product_Category     0
Orders               0
Amount              12
dtype: int64

In [290]:
# drop null values
df.dropna(inplace=True)

In [291]:
# change data type
df['Amount'] = df['Amount'].astype('int')

In [292]:
df['Amount'].dtypes

dtype('int32')

In [293]:
df.columns

Index(['User_ID', 'Cust_name', 'Product_ID', 'Gender', 'Age Group', 'Age',
       'Marital_Status', 'State', 'Zone', 'Occupation', 'Product_Category',
       'Orders', 'Amount'],
      dtype='object')

In [294]:
#rename column
df.rename(columns= {'Marital_Status':'Shaadi'})

,User_ID,Cust_name,Product_ID,Gender,Age Group,Age,Shaadi,State,Zone,Occupation,Product_Category,Orders,Amount
0,1002903,Sanskriti,P00125942,F,26-35,28,0,Maharashtra,Western,Healthcare,Auto,1,23952
1,1000732,Kartik,P00110942,F,26-35,35,1,Andhra Pradesh,Southern,Govt,Auto,3,23934
2,1001990,Bindu,P00118542,F,26-35,35,1,Uttar Pradesh,Central,Automobile,Auto,3,23924
3,1001425,Sudevi,P00237842,M,0-17,16,0,Karnataka,Southern,Construction,Auto,2,23912
4,1000588,Joni,P00057942,M,26-35,28,1,Gujarat,Western,Food Processing,Auto,2,23877
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11246,1000695,Manning,P00296942,M,18-25,19,1,Maharashtra,Western,Chemical,Office,4,370
11247,1004089,Reichenbach,P00171342,M,26-35,33,0,Haryana,Northern,Healthcare,Veterinary,3,367
11248,1001209,Oshin,P00201342,F,36-45,40,0,Madhya Pradesh,Central,Textile,Office,4,213
11249,1004023,Noonan,P00059442,M,36-45,37,0,Karnataka,Southern,Agriculture,Office,3,206
11250,1002744,Brumley,P00281742,F,18-25,19,0,Maharashtra,Western,Healthcare,Office,3,188

In [295]:
# describe() method returns description of the data in the DataFrame (i.e. count, mean, std, etc)
df.describe()

            User_ID           Age  Marital_Status        Orders        Amount
count  1.123900e+04  11239.000000    11239.000000  11239.000000  11239.000000
mean   1.003004e+06     35.410357        0.420055      2.489634   9453.610553
std    1.716039e+03     12.753866        0.493589      1.114967   5222.355168
min    1.000001e+06     12.000000        0.000000      1.000000    188.000000
25%    1.001492e+06     27.000000        0.000000      2.000000   5443.000000
50%    1.003064e+06     33.000000        0.000000      2.000000   8109.000000
75%    1.004426e+06     43.000000        1.000000      3.000000  12675.000000
max    1.006040e+06     92.000000        1.000000      4.000000  23952.000000

In [296]:
# use describe() for specific columns
df[['Age', 'Orders', 'Amount']].describe()

                Age        Orders        Amount
count  11239.000000  11239.000000  11239.000000
mean      35.410357      2.489634   9453.610553
std       12.753866      1.114967   5222.355168
min       12.000000      1.000000    188.000000
25%       27.000000      2.000000   5443.000000
50%       33.000000      2.000000   8109.000000
75%       43.000000      3.000000  12675.000000
max       92.000000      4.000000  23952.000000

# Exploratory Data Analysis

### Gender

In [297]:
# plotting a bar chart for Gender and it's count

ax = sns.countplot(x = 'Gender',data = df)

for bars in ax.containers:
    ax.bar_label(bars)
plt.title('Gender Distribution of Orders', fontsize=16, fontweight='bold', loc='center')
plt.tight_layout()
sns.set(rc={'figure.figsize':(6,6)})
plt.savefig("gender_count.png")
plt.close()

In [298]:
# plotting a bar chart for gender vs total amount

sales_gen = df.groupby(['Gender'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)
sns.set(rc={'figure.figsize':(6,6)})
sns.barplot(x = 'Gender',y= 'Amount' ,data = sales_gen)
plt.title('Gender Comparison of Total Amount Spent', fontsize=16, fontweight='bold', loc='center')
plt.tight_layout()
plt.savefig("gender_vs_amount.png")
plt.close()

*From above graphs we can see that most of the buyers are females and even the purchasing power of females are greater than men*

### Age

In [299]:
ax = sns.countplot(data = df, x = 'Age Group', hue = 'Gender')

for bars in ax.containers:
    ax.bar_label(bars)
sns.set(rc={'figure.figsize':(6,6)})    
plt.title('Distribution of Orders Across Age Groups ', fontsize=16, fontweight='bold', loc='center')
plt.tight_layout()

plt.savefig("Age.png")
plt.close()

In [300]:
# Total Amount vs Age Group
sales_age = df.groupby(['Age Group'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)
sns.set(rc={'figure.figsize':(6,6)})
sns.barplot(x = 'Age Group',y= 'Amount' ,data = sales_age)

plt.title('Amount Spent Across Age Groups', fontsize=16, fontweight='bold', loc='center')
plt.tight_layout()

plt.savefig("AmountVsAge.png")
plt.close()

*From above graphs we can see that most of the buyers are of age group between 26-35 yrs female*

### State

In [301]:
# total number of orders from top 10 states

sales_state = df.groupby(['State'], as_index=False)['Orders'].sum().sort_values(by='Orders', ascending=False).head(10)

sns.set(rc={'figure.figsize':(6,6)})
my_plot = sns.barplot(data = sales_state, x = 'State',y= 'Orders')

my_plot.set_xticklabels(my_plot.get_xticklabels(), rotation=90)
plt.title('Top 10 States by Order Count', fontsize=16, fontweight='bold', loc='center')
plt.tight_layout()

plt.savefig("TotalOrders.png")
plt.close()

C:\Users\Personal\AppData\Local\Temp\ipykernel_13616\4029209809.py:8: UserWarning: set_ticklabels() should only be used with a fixed number of ticks, i.e. after set_ticks() or using a FixedLocator.
  my_plot.set_xticklabels(my_plot.get_xticklabels(), rotation=90)

In [302]:
# total amount/sales from top 10 states

sales_state = df.groupby(['State'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False).head(10)

sns.set(rc={'figure.figsize':(6,6)})
my_plot= sns.barplot(data = sales_state, x = 'State',y= 'Amount')
my_plot.set_xticklabels(my_plot.get_xticklabels(), rotation=90)
plt.title('Top 10 States by Total Amount Spent', fontsize=16, fontweight='bold', loc='center')
plt.tight_layout()
plt.savefig("TotalAmount.png")
plt.close()

C:\Users\Personal\AppData\Local\Temp\ipykernel_13616\4178385640.py:7: UserWarning: set_ticklabels() should only be used with a fixed number of ticks, i.e. after set_ticks() or using a FixedLocator.
  my_plot.set_xticklabels(my_plot.get_xticklabels(), rotation=90)

*From above graphs we can see that most of the orders & total sales/amount are from Uttar Pradesh, Maharashtra and Karnataka respectively*

### Marital Status

In [303]:
ax = sns.countplot(data = df, x = 'Marital_Status',  hue = 'Marital_Status')

sns.set(rc={'figure.figsize':(6,6)})
for bars in ax.containers:
    ax.bar_label(bars)

plt.title('Marital Status Distribution of Orders', fontsize=16, fontweight='bold', loc='center')
plt.tight_layout()

plt.savefig("Marital_Status.png")
plt.close()

In [304]:
sales_state = df.groupby(['Marital_Status', 'Gender'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)

sns.set(rc={'figure.figsize':(6,6)})
sns.barplot(data = sales_state, x = 'Marital_Status',y= 'Amount', hue='Gender')

plt.title('Purchasing Power by Marital Status', fontsize=16, fontweight='bold', loc='center')
plt.tight_layout()
plt.savefig("Marital_Status_Order.png")
plt.close()

*From above graphs we can see that most of the buyers are married (women) and they have high purchasing power*

### Occupation

In [305]:
sns.set(rc={'figure.figsize':(6,6)})
ax = sns.countplot(data = df, x = 'Occupation')

for bars in ax.containers:
    ax.bar_label(bars)

ax.set_xticklabels(ax.get_xticklabels(), rotation=90)
plt.title('Distribution of Orders Across Occupation Sectors', fontsize=16, fontweight='bold', loc='center')
plt.tight_layout()

plt.savefig("Occupation.png")
plt.close()

C:\Users\Personal\AppData\Local\Temp\ipykernel_13616\4244404823.py:7: UserWarning: set_ticklabels() should only be used with a fixed number of ticks, i.e. after set_ticks() or using a FixedLocator.
  ax.set_xticklabels(ax.get_xticklabels(), rotation=90)

In [306]:
sales_state = df.groupby(['Occupation'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)

sns.set(rc={'figure.figsize':(6,6)})
ax= sns.barplot(data = sales_state, x = 'Occupation',y= 'Amount')
ax.set_xticklabels(ax.get_xticklabels(), rotation=90)
plt.title('Amount Spent across Occupation Sector', fontsize=16, fontweight='bold', loc='center')
plt.tight_layout()

plt.savefig("Occupation_Order.png")
plt.close()

C:\Users\Personal\AppData\Local\Temp\ipykernel_13616\5255858.py:5: UserWarning: set_ticklabels() should only be used with a fixed number of ticks, i.e. after set_ticks() or using a FixedLocator.
  ax.set_xticklabels(ax.get_xticklabels(), rotation=90)

*From above graphs we can see that most of the buyers are working in IT, Healthcare and Aviation sector*

### Product Category

In [307]:
sns.set(rc={'figure.figsize':(6,6)})
ax = sns.countplot(data = df, x = 'Product_Category')
ax.set_xticklabels(ax.get_xticklabels(), rotation=90)
for bars in ax.containers:
    ax.bar_label(bars)
plt.title('Distribution of Orders in Product Category', fontsize=16, fontweight='bold', loc='center')
plt.tight_layout()
plt.savefig("Product.png")
plt.close()

C:\Users\Personal\AppData\Local\Temp\ipykernel_13616\186345174.py:3: UserWarning: set_ticklabels() should only be used with a fixed number of ticks, i.e. after set_ticks() or using a FixedLocator.
  ax.set_xticklabels(ax.get_xticklabels(), rotation=90)

In [308]:
sales_state = df.groupby(['Product_Category'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False).head(10)

sns.set(rc={'figure.figsize':(6,6)})
ax = sns.barplot(data = sales_state, x = 'Product_Category',y= 'Amount')
ax.set_xticklabels(ax.get_xticklabels(), rotation=90)
plt.title('Top 10 Product Categories by Total Amount Spent', fontsize=16, fontweight='bold', loc='center')
plt.tight_layout()
plt.savefig("Product_Order.png")
plt.close()

C:\Users\Personal\AppData\Local\Temp\ipykernel_13616\3900703756.py:5: UserWarning: set_ticklabels() should only be used with a fixed number of ticks, i.e. after set_ticks() or using a FixedLocator.
  ax.set_xticklabels(ax.get_xticklabels(), rotation=90)

*From above graphs we can see that most of the sold products are from Food, Clothing and Electronics category*

In [309]:
sales_state = df.groupby(['Product_ID'], as_index=False)['Orders'].sum().sort_values(by='Orders', ascending=False).head(10)
sns.set(rc={'figure.figsize':(6,6)})
my_plot = sns.barplot(data = sales_state, x = 'Product_ID',y= 'Orders')

my_plot.set_xticklabels(my_plot.get_xticklabels(), rotation=90)
plt.title('Top 10 Selling Products by Product ID', fontsize=16, fontweight='bold', loc='center')
plt.tight_layout()
plt.tight_layout()

plt.savefig("ProductID.png")
plt.close()

C:\Users\Personal\AppData\Local\Temp\ipykernel_13616\3821385080.py:5: UserWarning: set_ticklabels() should only be used with a fixed number of ticks, i.e. after set_ticks() or using a FixedLocator.
  my_plot.set_xticklabels(my_plot.get_xticklabels(), rotation=90)

In [310]:
pdf_filename = "sales_report.pdf"
doc = SimpleDocTemplate("report.pdf", pagesize=letter)

# List to store elements (including images and text)
elements = []

# Function to add image to the PDF
def add_image(image_path):
    image = Image(image_path)
    elements.append(image)

# Add the title with appropriate spacing between lines
title_text = "Comprehensive Analysis of Sales Data:"
subtitle_text = "Visual Insights"
title_style = ParagraphStyle(name='TitleStyle', fontName='Helvetica-Bold', fontSize=24, alignment=1, spaceAfter=20)
subtitle_style = ParagraphStyle(name='SubtitleStyle', fontName='Helvetica', fontSize=24, alignment=1)
title = Paragraph(title_text, title_style)
subtitle = Paragraph(subtitle_text, subtitle_style)
elements.append(title)
elements.append(subtitle)

# Add a small space between the subtitle and the image
elements.append(Spacer(1, 0.2 * inch))

def add_image_size(image_path, width, height):
    image = Image(image_path, width=width, height=height)
    elements.append(image)

# Define the size of the image based on the letter size page
image_width = 6.5 * inch  # Set the width to 6.5 inches
image_height = 4.5 * inch  # Set the height to 4.5 inches

# Add the illustration showing "Report" in the middle of the page
add_image_size("illustration.jpg", image_width, image_height)


# Add the name of the person generating the report
author_text = "Report by: Vibhuti Gupta"
author_style = ParagraphStyle(name='AuthorStyle', fontName='Helvetica', fontSize=16, alignment=2, spaceBefore=20)
author = Paragraph(author_text, author_style)
elements.append(author)

# Add images to the PDF
add_image("gender_count.png")
add_image("gender_vs_amount.png")
add_image("Age.png")
add_image("AmountVsAge.png")
add_image("TotalOrders.png")
add_image("TotalAmount.png")
add_image("Marital_Status.png")
add_image("Marital_Status_Order.png")
add_image("Occupation.png")
add_image("Occupation_Order.png")
add_image("Product.png")
add_image("Product_Order.png")
add_image("ProductID.png")

# Add a page break before the summary
elements.append(PageBreak())

# Add the heading for the summary
heading_text = "Summary"
heading_style = ParagraphStyle(name='HeadingStyle', fontName='Helvetica-Bold', fontSize=20, alignment=1, spaceBefore=40)
heading = Paragraph(heading_text, heading_style)
elements.append(heading)

# Add the summary
summary_text = "Married women aged 26-35 years from Uttar Pradesh, Maharashtra, and Karnataka, working in the IT, Healthcare, and Aviation sectors, are more likely to buy products from the Food, Clothing, and Electronics categories."
summary_style = ParagraphStyle(name='SummaryStyle', fontName='Helvetica', fontSize=16, alignment=4, leading = 20, spaceBefore=20, spaceAfter = 10)

summary = Paragraph(summary_text, summary_style)
elements.append(summary)

# Add images to the document
doc.build(elements)

*Married women age group 26-35 yrs from UP,  Maharastra and Karnataka working in IT, Healthcare and Aviation are more likely to buy products from Food, Clothing and Electronics category*